{% extends 'base.html'%}

{% block content %}
<h1>Products</h1>
<div class="row">
    {% for product in products %}
    <div class="col-sm-4">
        <div class="card" style="margin-bottom:20px">
            <img src="{{ product.image_url}}" style="height: 167px !important;max-width: 224px;
            margin: auto;" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">${{ product.price }}</p>
                <!-- <a href="{% url 'products:addtocarts' product.id %}" class="btn btn-primary">Add to Cart</a> -->
                <a href="addtocart/{{product.id}}" class="btn btn-primary">Add to Cart</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

</div>
{% endblock %}